<span *ngFor="let residence of residencesShotguns">
    <h2>Shotguns pour la residence : {{ residence.name }}</h2>
    <span *ngFor="let PC of partieCommuneShotgun">
        <ng-container *ngIf=" PC.localisation.name==residence.name">
            <h3>{{PC.name}} : </h3>
            <p *ngIf="!shotguns || shotguns.length === 0 ">Il n'y en a pas :(</p>
            <span *ngIf="shotguns && shotguns.length > 0">
                <app-shotguns [listeShotguns]="getShotgunForPc(PC)"></app-shotguns>
            </span>
        </ng-container>
    </span>
</span>